@font-face {
	font-family: 'notokr';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
			url('/joytown/assets/font/NotoSans-Bold.woff2') format('woff2'),
			url('/joytown/assets/font/NotoSans-Bold.woff') format('woff'),
			url('/joytown/assets/font/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'notokr';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
			url('/joytown/assets/font/NotoSans-Medium.woff2') format('woff2'),
			url('/joytown/assets/font/NotoSans-Medium.woff') format('woff'),
			url('/joytown/assets/font/NotoSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'notokr';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
			url('/joytown/assets/font/NotoSans-Regular.woff2') format('woff2'),
			url('/joytown/assets/font/NotoSans-Regular.woff') format('woff'),
			url('/joytown/assets/font/NotoSans-Regular.ttf') format('truetype');
}