@mixin typo-size-100($important: null) {
	font-size: 6rem $important;
	letter-spacing: -0.025em $important;
	line-height: 1.2 $important;
}

@mixin typo-size-200($important: null) {
	font-size: 5.2rem $important;
	letter-spacing: -0.025em $important;
	line-height: 1.2 $important;
	font-weight: 700 $important;
}

@mixin typo-size-250($important: null) {
	font-size: 4.8rem $important;
	letter-spacing: -0.025em $important;
	line-height: 1.2 $important;
	font-weight: 500 $important;
}

@mixin typo-size-300($important: null) {
	font-size: 4.4rem $important;
	letter-spacing: -0.025em $important;
	line-height: 1.2 $important;
}

@mixin typo-size-350($important: null) {
	font-size: 4rem $important;
	letter-spacing: -0.025em $important;
	line-height: 1.2 $important;
	font-weight: 700 $important;
}

@mixin typo-size-400($important: null) {
	font-size: 3.2rem $important;
	letter-spacing: -0.025em $important;
	line-height: 1.2 $important;
	font-weight: 700 $important;
}
@mixin typo-size-450($important: null) {
	font-size: 2.8rem $important;
	letter-spacing: -0.025em $important;
	line-height: 1.2 $important;
	font-weight: 500 $important;
}
@mixin typo-size-500($important: null) {
	font-size: 2rem $important;
	letter-spacing: -0.025em $important;
	line-height: 1.2 $important;
	font-weight: 500 $important;
}
@mixin typo-size-550($important: null) {
	font-size: 1.6rem $important;
	letter-spacing: -0.025em $important;
	line-height: 1.2 $important;
	font-weight: 500 $important;
}

@mixin typo-color-black($important: null) {
	color: #111 $important;
}

@mixin textEllipse {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin textEllipseMulti($max-line: 2) {
	display: -webkit-box;
	overflow: hidden;
	line-height: 1.4;
	max-height: 1.4em * #{$max-line};
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: $max-line;
  -webkit-box-orient: vertical;
}

@mixin clearfix {
	&:after {
		display: block;
		clear:both;
		content: "";
	}
}

@mixin btn-transition {
	transition: background ease-in-out .2s;
}


.typo-size-100 {
	@include typo-size-100(!important);
}

.typo-size-200 {
	@include typo-size-200(!important);
}

.typo-size-250 {
	@include typo-size-250(!important);
}

.typo-size-300 {
	@include typo-size-300(!important);
}

.typo-size-350 {
	@include typo-size-350(!important);
}

.typo-size-300 {
	@include typo-size-300(!important);
}

.typo-color-black {
	@include typo-color-black(!important);
}


