/* only pc
**************************/
@media screen and (min-width: $min-width-pc) {
	
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 9px;
	}
}

/* table max
**************************/
@media screen and (max-width: $max-width-tablet) {
	html {
		font-size: 8px;
	}
	.section-inner {
		padding: 6rem 0;
	}
}

/* phone max
**************************/
@media screen and (max-width: $max-width-phone) {

}